<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FWI Prediction</title>
</head>
<body>
    <h1>FWI Prediction</h1>

    <form action="/" method='post'>
        <input type="text" name="Temperature" placeholder="Enter the Temperature" required><br>
        <input type="text" name="RH" placeholder="Enter the RH" required><br>
        <input type="text" name="Ws" placeholder="Enter the Ws" required><br>
        <input type="text" name="Rain" placeholder="Enter the Rain" required><br>
        <input type="text" name="FFMC" placeholder="Enter the FFMC" required><br>
        <input type="text" name="DMC" placeholder="Enter the DMC" required><br>
        <input type="text" name="ISI" placeholder="Enter the ISI" required><br>
        <input type="text" name="Classes" placeholder="Enter the Classes" required><br>
        <input type="text" name="Region" placeholder="Enter the Region" required><br>

        <button type="submit">Prdict</button>
    </form>
</body>
</html>